# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
freeglut/freeglut.h
freeglut/freeglut.lib
glutapp.xcodeproj/project.pbxproj
*.user
visualc10/obj/glutapp_Debug/app_window.obj
*.obj
*.log
*.tlog
*.ilk
*.lastbuildstate
visualc10/obj/glutapp_Debug/glutapp.pdb
*.cache
*.exe
visualc10/ipch/glutapp-ab24d5bc/glutapp-c024483c.ipch
*.manifest
visualc10/obj/glutapp_Debug/vc100.idb
*.vcxproj
makefile
*.bat
*.pdb
visualc10/glutapp.sln
*.dll
visualc10/glutapp.sdf
freeglut/freeglut_std.h
freeglut/freeglut_ext.h
*.xcworkspacedata
glutapp.xcodeproj/project.xcworkspace/xcuserdata/angelo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcscheme
glutapp.xcodeproj/xcuserdata/angelo.xcuserdatad/xcschemes/xcschememanagement.plist
*.txt
visualc10/glutapp.suo
